<div class="menu_item">
  <a *ngIf="!isExpandableTrue" mat-list-item 
      [ngStyle]="{'padding-left': (depth * 12) + 'px'}" 
      [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}" class="menu-list-item">
      <em class="{{item.iconName}}  fa-lg-icn"></em>
      <span *ngIf="isExpandableTrue"> {{ item.displayName }}</span>
  </a>
  <div *ngIf="(!expanded || expanded) && !isExpandableTrue" class="onHoverMenu">
    <menu-list-item  *ngFor="let child of item.children" [item]="child" [depth]="depth+1"></menu-list-item>
  </div>
</div>

<a *ngIf="isExpandableTrue" mat-list-item 
    [ngStyle]="{'padding-left': (depth * 12) + 'px'}" 
    (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}" class="menu-list-item">
    <em class="{{item.iconName}} fa-lg-icn"></em> 
    <span *ngIf="isExpandableTrue">{{ item.displayName }}</span>
</a>
<div *ngIf="expanded && isExpandableTrue">
  <menu-list-item #menuItemList [ngClass]="'child_class selected'" *ngFor="let child of item.children" [item]="child" [depth]="depth+1"></menu-list-item>
</div>

