
.mat-list-item {
  padding: 0px;
  box-shadow: inset;
  background-color:#3c3c3c;
  color: white;
  padding-left: 0px !important;
  overflow: hidden !important;
}

.mat-list-item:hover {
  background-color: #5d60ac;
}
.menu_item:hover{
  background-color: #5d60ac;
}

.active{
  background-color: #5d60ac;
}

.menu_item:hover .onHoverMenu{
  background-color: #5d60ac;
  visibility: visible;
  display: block; 
  opacity: 1;
}

.onHoverMenu{
  display: none; 
  position: fixed;
  margin-left: 5%;
  z-index: 9999;
  width: 15%;
  margin-top: -40px;
  overflow: hidden;
}

.fa-lg-icn {
  font-size: 2.2em;
  line-height: .50em;
  vertical-align: middle;
  margin-right: 7%;
}



