<div class="container-fluid">
  <div class="jumbotron">
  <form [formGroup]="dashboardsearchform" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-md-3">           
          <label>Project Type: 
          <select class="selectpicker" formControlName="project_type" id="project_type">
              <option value="">Select</option>
              <option value="2XM">2XM</option>
              <option value="4XM">4XM</option>
          </select>
            </label>           
          </div> &nbsp;
         
          <div class="col-md-3">           
              <label>Country:  
              <select class="selectpicker" formControlName="country" id="country">
                  <option value="">Select</option>
                  <option *ngFor="let cn of records; let i = index" [value]="records[i].id">
                      {{records[i].cname}}
                    </option>
              </select>
             </label>       
          </div>
          
          <div class="col-md-4 ">           
              <label>Document Type:  
              <select class="selectpicker" formControlName="document_type" id="document_type">
                  <option value="">Select</option>
                  <option value="MOM">MOM</option>
                  <option value="CSR">CRS</option>
                </select> 
              </label>     
          </div> 
          <button type="submit" class="btn btn-success">Show Result</button>
       </div>
      </form>
  </div>
</div>

<div class="container-fluid">    

    <div class="row">&nbsp;</div>
    <div class="row rowborder colbackground">
      <div class="col font-weight-bold"><b>S.No.</b></div>
      <div class="col font-weight-bold"><b>Activities</b></div>
      <div class="col font-weight-bold"><b>Activities Category</b></div>
      <div class="col font-weight-bold"><b>Date</b></div>
      <div class="col font-weight-bold"><b>Sub Activities</b></div>
      <div class="col font-weight-bold"><b>Sub Activities Category</b></div>
      <div class="col font-weight-bold"><b>RPN</b></div>
      <div class="col font-weight-bold"><b>XXX</b></div>
      <div class="col font-weight-bold"><b>YYY</b></div>
      <div class="col font-weight-bold"><b>SPOC</b></div>
      <div class="col font-weight-bold"><b>Action</b></div>
    </div>
    <div class="row rowborder">
      <div class="col">1</div>
      <div class="col d-flex justify-content-center"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
      <div class="col"><select>
        <option value="Risk">Risk</option>
      </select></div>
      <div class="col"><span class="hr-lines">1 Dec 2022</span></div>
      <div class="col">&nbsp;</div>
      <div class="col"><select>
        <option value="Risk">Risk</option>
      </select></div>
      <div class="col">&nbsp;</div>
      <div class="col">&nbsp;</div>
      <div class="col">&nbsp;</div>
      <div class="col">&nbsp;</div>
      <div class="col"><i class="fa fa-edit" aria-hidden="true"></i> | <i class="fa fa-info" aria-hidden="true"></i> | <i class="fa fa-times" aria-hidden="true"></i></div>

    </div>
    <div class="row rowborder">
        <div class="col">2</div>
        <div class="col d-flex justify-content-center"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="col"><select>
          <option value="Risk">Risk</option>
        </select></div>
        <div class="col"><span class="hr-lines">1 Dec 2022</span></div>
        <div class="col">&nbsp;</div>
        <div class="col"><select>
          <option value="Action">Action</option>
        </select></div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col"><i class="fa fa-edit" aria-hidden="true"></i> | <i class="fa fa-info" aria-hidden="true"></i> | <i class="fa fa-times" aria-hidden="true"></i></div>
  
    </div>
    <div class="row rowborder">
        <div class="col">3</div>
        <div class="col d-flex justify-content-center"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="col"><select>
          <option value="Decision">Decision</option>
        </select></div>
        <div class="col"><span class="hr-lines">1 Dec 2022</span></div>
        <div class="col">&nbsp;</div>
        <div class="col"><select>
          <option value="Risk">Risk</option>
        </select></div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col"><i class="fa fa-edit" aria-hidden="true"></i> | <i class="fa fa-info" aria-hidden="true"></i> | <i class="fa fa-times" aria-hidden="true"></i></div>
  
    </div>
    <div class="row">

        <div class="col-md-8">&nbsp;</div>
        
        <div class="col-md-4">
            <nav class="pull-right" aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        

    </div>
    
    
  </div>
