.rowborder div {
    border: 1px solid lightgrey;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 0;
    width: 98%;
    padding-right: calc(var(--bs-gutter-x) * -0.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.666667%;
    margin-top: 16px;
}

.colbackground {
    background-color: #e9ecef;
}

.pull-right {
    float: right;
    margin-right: -13px;
    margin-top: 3px;
}

.grid-select{
    width:100px
}.rowborder div {
    border: 1px solid lightgrey;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 0;
    width: 98%;
    padding-right: calc(var(--bs-gutter-x) * -0.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.666667%;
    margin-top: 16px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.selectpicker{
    height:35px;
    width:150px;
    
}
label { width:30%; }


.colbackground {
background-color: #e9ecef;
}
.btn {
    padding: 8px;
    width: 115px;
}

.pull-right {
    float: right;
    margin-right: -13px;
    margin-top: 3px;
}


.jumbotron {
    padding: 1rem 2rem;
}

.grid-select{
    width:100px
}

.hr-lines:before{
    content:" ";
    display: block;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgb(112, 111, 111);
}
.hr-lines{
    position: relative;
  }

  .fa-times-circle{
    margin-top: 4px;
  }