
<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="../../assets/images/senvion2.png"
      />
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger invalid-feedback">
                    <div *ngIf="f['username'].errors && f['username'].errors['required']">Username is required.</div>                    
                </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                    <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password should be 3 character.</div>
                </div>
        </div>
        <div class="form-group"></div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Login
            </button>
        </div>
        
      </form>
  
      
    </div>
  </div>