.mat-drawer-container{background-color:#ffffff1f;color:#fff}
.mat-sidenav-container{
    top: 50px;
    height: auto;
    overflow: hidden !important;
  }
  mat-sidenav{
    position: fixed !important;
    margin-top: 75px;
  }
  .mat-sidenav {
    width: 15%;
    background-color: #3c3c3c;
  }
  
  .mat-nav-list {
    padding-top: 0;
  }
  
  .mat-list-item:hover{
    background-color: #003767;
  }
  .width_a{
    width: 5%;
  }
  
  .layout_width_class_b{
    margin-left: 5.5% !important;
  }
  .mat-list-base{
    padding-top: 0px !important;
  }
  
  .mat-list-base .mat-list-item,  .mat-list-option {
    display: block;
    height: 35px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
    font-size: 13px;
    background-color: #3c3c3c;
    border-bottom: 1px solid #636363;
    color: white;
  
  }
  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-option .mat-list-item-content{
    font-size: 13px !important;
  }
  
  .mat-list-base .mat-list-item,  .mat-list-option{
      height: 40px !important;
  }
  
  .menu-collapse-item {
    padding: 30px;
    font-size: 20px !important;
  }
  
  .mat-drawer-content{
    overflow: hidden !important;
  }
  
 
   .fa-lg-icn {
    font-size: 2.2em;
    line-height: .50em;
    vertical-align: middle;
    margin-right: 7%;
  }
  .mat-list-item.a {
    padding: 0px;
    box-shadow: inset;
    background-color:#3c3c3c;
    color: white;
    padding-left: 0px !important;
    overflow: hidden !important;
  }
  
  /* layout setup*/
  
  .layout_width_class_a{
    margin-top: 0.7%;
    box-shadow: 5px 5px 5px 5px rgb(136, 131, 131);
    margin-right: 0.5% !important;
    margin-left: 15.5% !important;
  
  }
  .layout_width_class_b{
    margin-top: 0.7%;
    box-shadow: 5px 5px 5px 5px rgb(136, 131, 131);
    margin-right: 0.5% !important;
    margin-left: 6% !important;  
  }

  .mat-toolbar.mat-primary {
    background: #2da21fb8;
    color: #fff;
}

.mat-h5, .mat-typography .mat-h5, .mat-typography h5 {    
    margin: 0 0 0px;
}
  
  