<mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
	<div class="col-4">
	<img
        id="profile-img"
        src="../../assets/images/senvion-logo.png"
      />
    </div>
    <div class="col-8">
      <form class="form-inline float-end me-2">
        <input class="form-control input-search" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button class="profile float-end" mat-icon-button
        aria-label="Example icon-button with a menu">       
      </button>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="side"
      class="example-sidenav"
      [ngStyle]="{ 'width.em': sidenavWidth }"
      opened="true"
      (mouseenter)="increase()"
      (mouseleave)="decrease()"
    >
      <!--<div class="logomain">Logo Part</div>-->
      <mat-nav-list>
        <mat-list-item routerLink="1" routerLinkActive="active">            
           <a href=""> <mat-icon>dashboard</mat-icon></a>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Dashboard</h5>
          </div>
        </mat-list-item>
  
        <mat-list-item (click)="onNew()">
          <mat-icon mat-list-icon>add_task</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Create</h5>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="2" routerLinkActive="active">
            <i class="fa fa-filter fa-3x" aria-hidden="true"></i>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Filtter</h5>
            </div>
          </mat-list-item>
  
        <mat-list-item routerLink="3" routerLinkActive="active">
          <mat-icon mat-list-icon>mail</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Request</h5>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="3" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <h5 class="lead">Member Profile</h5>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="3" routerLinkActive="active">
            <mat-icon mat-list-icon>logout</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Logout</h5>
            </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  