.rowborder div {
    border: 1px solid lightgrey;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 0;
    width: 98%;
    padding-right: calc(var(--bs-gutter-x) * -0.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.selectpicker{
    height:30px;
    width:150px;
}

label { display: inline-block }
select { display: block }

.colbackground {
background-color: #e9ecef;
}

.btn {
    padding: 8px;
    width: 109px;
}
.btnserach{
    margin-top: 12px;
}

.pull-right {
    float: right;
    margin-right: -13px;
    margin-top: 10px;
}










.jumbotron {
    padding: 1rem 2rem;
}

.mat-form-field {
   width: 100% !important;
}