<div class="container-fluid">
    <div class="jumbotron">
    <form [formGroup]="dashboardsearchform" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-2">           
            <label>Project Type: </label>
            <select class="selectpicker" formControlName="project_type" id="project_type">
              <option value="">Select</option>
              <option *ngFor="let cn of project_dropdown_records; let i = index" [value]="project_dropdown_records[i].id">{{project_dropdown_records[i].name}}
              </option>
            </select>
                         
            </div> &nbsp;
           
            <div class="col-md-2">           
                <label>Country: </label>
                <select class="selectpicker" formControlName="country" id="country">
                    <option value="">Select</option>
                    <option *ngFor="let cn of country_dropdown_records; let i = index" [value]="country_dropdown_records[i].id">
                        {{country_dropdown_records[i].cname}}
                      </option>
                </select>
                      
            </div>&nbsp;

            <div class="col-md-2">           
                <label>Document Type:  </label>
                <select class="selectpicker" formControlName="document_type" id="document_type">
                    <option value="">Select</option>
                    <option *ngFor="let cn of document_dropdown_records; let i = index" [value]="document_dropdown_records[i].id">{{document_dropdown_records[i].name}}
                    </option>
                  </select>
                         
            </div> &nbsp;

            <div class="col-md-2">           
              <label>Meeting Type:</label>
              <select class="selectpicker" formControlName="meeting_type" id="meeting_type">
                <option value="">Select</option>
                <option *ngFor="let cn of meeting_dropdown_records; let i = index" [value]="meeting_dropdown_records[i].id">{{meeting_dropdown_records[i].name}}
                </option>
                </select>
                         
          </div> &nbsp;
            
            <div class="col-md-2">            
                <button type="submit" class="btn btn-success btnserach">Search</button>
            </div>     
         </div>
        </form>
    </div>
</div>

<div class="container-fluid">    

    <div class="row">&nbsp;</div>
    <div class="row rowborder colbackground">
      <div class="col font-weight-bold"><b>S.No.</b></div>
      <div class="col font-weight-bold"><b>Meeeting Subject</b></div>
      <div class="col font-weight-bold"><b>Organiser</b></div>
      <div class="col font-weight-bold"><b>Meeting Date</b></div>
      <div class="col font-weight-bold"><b>% Closure</b></div>
      <div class="col font-weight-bold"><b>Action</b></div>
    </div>
    <div class="row rowborder"  *ngFor="let rec of records| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total }">
      <div class="col">{{rec.id}}</div>
      <div class="col">{{rec.meetingsubject}}</div>
      <div class="col">{{rec.organiser}}</div>
      <div class="col">{{rec.meetingdate}}</div>
      <div class="col">{{rec.closure}}%</div>
      <div class="col">
        <a (click)="onEdit(rec)"><i class="fa fa-edit" aria-hidden="true"></i></a>
        <a routerLink="#"><i class="fa fa-eye" aria-hidden="true"></i></a></div>
    </div>
    <div class="row">
      <div class="col-md-8">&nbsp;</div>
      <div class="col-md-4">
          <nav class="pull-right" aria-label="Page navigation example">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

          </nav>
      </div>
  </div>
    
  </div>
  <ngx-smart-modal #myModal identifier="myModal" [closable]="false" [dismissable]="false" [escapable]="false">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Meeting Details</h5>
    </div>
    <div class="modal-body">
      <form #myform="ngForm">
        <div class="form-group">
          <label for="modelcode" class="col-form-label">Model Code:</label>
          <input type="hidden" name="meetingId" ngModel class="form-control" id="meetingId">
          <input type="text" required name="modelcode" ngModel class="form-control" id="modelcode">
        </div>
        <div class="form-group">
          <label for="country" class="col-form-label">Country:</label>
          <select required name="country" ngModel class="form-control" id="country">
            <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mdate" class="col-form-label">Meeting Date:</label>
          <mat-form-field>
            <input matInput required name="mdate" ngModel class="form-control" [formControl]="dateCtrl" id="mdate" [matDatepicker] = "picker" placeholder = "Choose a date">
            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>
        </div>
        <div class="form-group">
          <label for="meetingtype" class="col-form-label">Meeting Type:</label>
          <select required name="meetingtype" ngModel class="form-control" id="meetingtype">
            <option value="1">STEERCO</option>
            <option value="2">GENERAL</option>
          </select>
        </div>
        <div class="form-group">
          <label for="users" class="col-form-label">Users:</label>
          <p>
            <mat-form-field *ngIf="userMultiFilterCtrl">
              <mat-select required name="users" ngDefaultControl ngModel class="form-control" id="users" [formControl]="userMultiCtrl" placeholder="Users" [multiple]="true" #multiSelect>
                <ngx-mat-select-search [formControl]="userMultiFilterCtrl"></ngx-mat-select-search>
                <mat-option *ngFor="let user of filteredUsersMulti | async" [value]="user">
                  {{user.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
        </div>
        <div class="form-group">
          <button [disabled]="myform.status == 'INVALID'" (click)="meetingForm(myform)" class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</ngx-smart-modal>
